<%= form_with(model: match,local: true, :url => {action: "update", team_id: @team ,id: @match }  ) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :score, title: "Set your score" %>
    <%= form.number_field :score, within: 0...13 %>
  </div>

  <div class="field">
    <%= form.label :mat_score,title: "Set opposite score" %>
    <%= form.number_field :mat_score, within: 0...13  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
