<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :region,"Choose your nation (same of sign up):" %>
    <%= form.select( :region,Nation.order(:name).collect {|n| [n.name,n.code]} ) %>

  </div>

  <div class="field">
  <%= form.label :console_id,"Choose your console:" %>
  <%= form.collection_select :console_id, Console.order(:name), :id, :name %>



  </div>

  <div class="field">
    <%= form.label :game_ids,"Choose your games:" %>
    

        <div class="funkyradio">
        <%= form.collection_check_boxes( :game_ids, Game.order(:name), :id, :name) do |c|%>
          <div class="funkyradio-primary">
            <%= c.check_box %> <%= c.label %>
          </div>
        <%end%>
        </div>

  <div class="field">
  <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>

  </div>

  <div class="actions">
    <%= form.submit "Save Group", class: "btn btn-primary" %>
  </div>
<% end %>
