<% provide(:title, "Group list") %>
<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Console</th>
      <th>Game</th>
      <th>Creator</th>
      <th>Members </th>
      <th colspan="6">Functions:</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.region %></td>
        <td><%= group.console.name unless group.console.nil? %></td>
        <td> <% group.games.each do |g| %>
      <%= g.name %> <%end%></td>
      <td>    <%= group.creator.username unless group.creator.nil? %></td>
        <td> <% group.members.each do |g| %>
      <%= g.username %> -> <%= g.email %> <%end%></td>
        <td>
        <div class= "btn btn-default btn-xs"><%= link_to 'Show', group %></div>
        <div class= "btn btn-default btn-xs"><%= link_to 'Edit', edit_group_path(group) %></div>
        <div class= "btn btn-default btn-xs"><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class= "btn btn-default btn-sm"><%= link_to 'Back',  arena_path %></div>
<% if can? :create, Group %>
<div class= "btn btn-default btn-sm"><%= link_to 'New Group', new_group_path %></div>
<% end %>
