<%= provide(:title, "My group list") %>
<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Console</th>
      <th>Game</th>
      <th>Members </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_gamer.groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.region %></td>
        <td><%= group.console %></td>
        <td> <% group.games.each do |g| %>
      <%= g.name %> <%end%></td>
        <td> <% group.members.each do |g| %>
      <%= g.username %> -> <%= g.email %> <%end%></td>
      
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back',  arena_path %>
<% if current_gamer.admin? %>
  <%= link_to 'New Group', new_group_path %>
<% end %>