<% provide(:title, "Showing group") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @group.creator.username %> -> <%= @group.creator.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @group.region %>
</p>

<p>
  <strong>Console:</strong>
  <%= @group.console.name  %>
</p>

<p>
  <strong>Game:</strong>
  
    
    <% @group.games.each do |g| %>
      <%= g.name %>
    <%end%>
</p>

<p>
<strong>Members:</strong>
<% @group.members.each do |g| %>
      <%= g.username %> -> <%= g.email %>
    <%end%>
</p>
<%= link_to 'Join this group', group_join_path(@group) %></br>
<% if @group.creator == current_gamer %>
  <%= link_to 'Leave this group', group_leave_path(@group), data: { confirm: "Group will be deleted, are you sure?" } %></br>
  <% else %>
  <%= link_to 'Leave this group', group_leave_path(@group) %></br>
  <% end %>
<% if can? :edit, @group %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>


  <br>
  <table>
  <th>Chatroom</th>
  <tbody>
      <% @group.chatrooms.each do |chatroom| %>
        <tr>
          <td><%= chatroom.name %></td>
          <td>
            <% if @group.creator == current_gamer %>
              <%= link_to 'Destroy ', group_chatroom_path(chatroom.group_id, chatroom), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
          <td></td>
          <td>
            <% if @group.creator == current_gamer %>
              <%= link_to 'ChangeChatroomName', edit_group_chatroom_path(chatroom.group_id, chatroom) %></td>
            <% end %>
          <td></td>
            <% if @current_gamer.groups.include? @group %>
              <td><%= link_to 'JoinChatroom', group_chatroom_chatroom_users_path(chatroom.group_id, chatroom), method: :post %></td>
            <% end %>
        
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if @group.creator == current_gamer %>
    <%= link_to 'New Chatroom', new_group_chatroom_path(@group) %>
  <% end %>


