<% provide(:title, "Showing group") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @group.region %>
</p>

<p>
  <strong>Console:</strong>
  <%= @group.console %>
</p>

<p>
  <strong>Game:</strong>
  
  	
  	<% @group.games.each do |g| %>
  		<%= g.name %>
  	<%end%>
</p>

<p>
<strong>Members:</strong>
<% @group.members.each do |g| %>
      <%= g.username %> -> <%= g.email %>
    <%end%>
</p>
<%= link_to 'Join this group', group_join_path(@group) %></br>
<%= link_to 'Leave this group', group_leave_path(@group) %></br></br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
