<% provide(:title, "Showing group") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @group.creator.username %> -> <%= @group.creator.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @group.region %>
</p>

<p>
  <strong>Console:</strong>
  <%= @group.console.name  %>
</p>

<p>
  <strong>Game:</strong>


    <% @group.games.each do |g| %>
      <%= g.name %>
    <%end%>
</p>

<p>
<strong>Members:</strong>
<% @group.members.each do |g| %>
      <%= g.username %> -> <%= g.email %>
    <%end%>
</p>
<% if !@group.members.include?(current_gamer)%>
<%= link_to 'Join this group', group_join_path(@group) ,class: "btn btn-default btn-sm"%>
<% end %>
<% if @group.creator == current_gamer %>
  <div class= "btn btn-default btn-sm"><%= link_to 'Leave this group', group_leave_path(@group), data: { confirm: "Group will be deleted, are you sure?" } %></div>
  <% else %>
  <%= link_to 'Leave this group', group_leave_path(@group),class: "btn btn-default btn-sm" %>
  <% end %>
<% if can? :edit, @group %>
  <div class= "btn btn-default btn-sm"><%= link_to 'Edit', edit_group_path(@group) %></div>
<% end %>




  <br>
  <table>
  <th>Chatroom:</th>
  <tbody>
      <% @group.chatrooms.each do |chatroom| %>
        <tr>
          <td><%= chatroom.name %></td>
          <td>
            <% if @group.creator == current_gamer %>
              <div class= "btn btn-default btn-sm"><%= link_to 'Destroy ', group_chatroom_path(chatroom.group_id, chatroom), method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>
          </td>
          <td></td>
          <td>
            <% if @group.creator == current_gamer %>
              <div class= "btn btn-default btn-sm"><%= link_to 'ChangeChatroomName', edit_group_chatroom_path(chatroom.group_id, chatroom) %></div></td>
            <% end %>
          <td></td>
            <% if @current_gamer.groups.include? @group %>
              <td><div class= "btn btn-default btn-sm"><%= link_to 'JoinChatroom', group_chatroom_chatroom_users_path(chatroom.group_id, chatroom), method: :post %></div></td>
            <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if @group.creator == current_gamer %>
    <div class= "btn btn-default btn-sm"><%= link_to 'New Chatroom', new_group_chatroom_path(@group) %></div>
  <% end %>
  <br/>
  <br/>
  <br/>
  <div class= "btn btn-default btn-xs"><%= link_to 'Back', groups_path %></div>


