<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @gamer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gamer.email %>
</p>
<p>
  <strong>Nickname:</strong>
  <%= @gamer.nickname %>
</p>
<p>
  <strong>Nation:</strong>
  <%= @gamer.nation %>
</p>
<p>
  <strong>Games:</strong>
  <% @gamer.games.each do |game| %>
    <%= game.name %>
  <%end%>
</p>
<p>
  <strong>Console:</strong>
  <% @gamer.consoles.each do |console|  %>
    <%= console.name %>
  <%end%>
</p>
<p>
  <strong>Description:</strong>
  <%= @gamer.description %>

</p>
<% if current_gamer?(@gamer) %>
    <%= link_to 'Edit', edit_gamer_path(@gamer) %> |
<% end %>

<%= link_to 'Back', gamers_path %>
