<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <td><%= link_to 'Edit', edit_group_chatroom_path(chatroom.group_id, chatroom) %></td>
        
        <td><%= link_to 'Join', group_chatroom_chatroom_users_path(chatroom.group_id, chatroom), method: :post %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_group_chatroom_path %>
