<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
	<% @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
		<%= render message %>
	<% end %>
</div>
  

   
  
</div>
<% if @chatroom.group.nil? %>
 	<%= form_for [@chatroom.team, @chatroom, Message.new] do |f| %>
  	<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
	<% end %>
<% else %>
 	<%= form_for [@chatroom.group, @chatroom, Message.new] do |f| %>
  	<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
	<% end %>
<% end %>
