<%= provide(:title,"New team")%>
<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= label :console_id, 'Choose your team console:' %>

        <div class="funkyradio">
        <%= form.collection_radio_buttons( :console_id, Console.all, :id, :name) do |c|%>
          <div class="funkyradio-primary">
            <%= c.radio_button %> <%= c.label %>
          </div>
        <%end%>
        </div>
  </div>
  
<div class="field">
 <%= label :game_id, 'Choose your team game :' %>

        <div class="funkyradio">
        <%= form.collection_radio_buttons( :game_id, Game.all, :id, :name) do |c|%>
          <div class="funkyradio-primary">
            <%= c.radio_button %> <%= c.label %>
          </div>
        <%end%>
        </div>
  </div>
  

</div>


  <div class="field">
    <p> Insert an Image Avatar for your team: <p>
   <%= form.file_field :avatar %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
