<% provide(:title, "Teams list") %>

<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Boss</th>
      <th>Game</th>
      <th>Console</th>
      <th>Invite</th>
      <th>Match</th>
      <th>Challenge</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.all.each do |team| %>
      <tr>
        <td> <%= image_tag team.avatar.url(:thumb),width: 60, class: "avatar-image " %>
</td>
        <td><%= team.name %></td>
        <td><%= team.boss.username unless team.boss.nil? %></td>
        <td><%= team.console.name unless team.console.nil? %></td>
        <td><%= team.game.name unless team.game.nil? %></td>
        <td><%= team.invites.map{|m| m.username} %></td>
        <td><%= team.matches.to_a %></td>
        <td><%= team.challenges.to_a %></td>
        <td><% team.gamers.each do |mem| %>
          <%= mem.username %> -> <%=mem.email %>
          <%end%>
        </td>
        <td><div class= "btn btn-default btn-xs"><%= link_to 'Show', team %></div>
        <div class= "btn btn-default btn-xs"><%= link_to 'Edit', edit_team_path(team) %></div>
        <div class= "btn btn-default btn-xs"><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_gamer.team.nil? || current_gamer.admin? %>
  <%= link_to 'New Team', new_team_path, class: "btn btn-danger btn-lg btn-block",style:"color:white;" %>

<%end%>
<br/>
<div class= "btn btn-default btn-sm"><%= link_to 'Back', arena_path %></div>
