<% provide(:title, "Team "+ @team.name ) %>

<p id="notice"><%= notice %></p>

<%= image_tag @team.avatar.url(:thumb),width: 80, class: "avatar-image" %>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @team.boss.username unless @team.boss.nil? %>
</p>

<p>
  <strong>Invites:</strong>
  <% @team.invites.each do |inv| %>
      <%= inv.username %> -> <%= inv.email %> | 
  <% end %>
</p>

<p>
  <strong>Matches:</strong>
  <% @team.matches.each do |mat| %>
    <%= link_to mat, team_matches_path(@team) %>
  <% end %>
</p>

<p>
  <strong>Challenges:</strong>
  <% @team.challenges.each do |cha| %>
    <%= link_to cha, team_challenges_path(@team) %>
  <% end %>
</p>
<p>
  <strong>Members:</strong>
  <% @team.gamers.each do |mem| %>
    <%= mem.username %> -> <%= mem.email %> |
  <% end %>
</p>


<% if @team.boss == current_gamer %>  
    <%= link_to 'Show invite requests', team_invite_requests_path(@team) %></br>
    <%end%>
<% if @team.gamers.include?(current_gamer)%>
  <% if @team.boss == current_gamer %>
  <%= link_to 'Leave this team', team_leave_path(@team), data: { confirm: "Team will be deleted, are you sure?" } %></br>
  <% else %>
  <%= link_to 'Leave this team', team_leave_path(@team) %></br>
  <% end %>
<% elsif gamer_can_challenge?(@team)%> 
  <%= link_to 'Send challenge to this team', team_add_challenge_path(@team) %></br>
<% else %>  
  <%= link_to 'Join this team', team_send_invite_path(@team) %></br>
<%end%>


</br>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path  %>
