<% provide(:title, "Arena") %>

<div class="center jumbotron">

    <h1>Arena</h1>
    <p>Homepage Arena</p>

     <p>
        <h3>Streams</h3>
    </p>
    
        <iframe  src='https://player.twitch.tv/?channel=<%= @stream1 %>' frameborder="0" allowfullscreen="true" scrolling="no" height="189" width="310"></iframe>
    
        <a href='https://player.twitch.tv/?channel=<%= @stream1 %>' style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from <%= @stream1 %> on www.twitch.tv</a>
        <iframe src='https://player.twitch.tv/?channel=<%= @stream2 %>' frameborder="0" allowfullscreen="true" scrolling="no" height="189" width="310"></iframe>
        <a href='https://player.twitch.tv/?channel=<%= @stream2 %>' style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from <%= @stream2 %> on www.twitch.tv</a>
        <iframe src='https://player.twitch.tv/?channel=<%= @stream3 %>' frameborder="0" allowfullscreen="true" scrolling="no" height="189" width="310"></iframe>
        <a href='https://player.twitch.tv/?channel=<%= @stream3 %>' style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from <%= @stream3 %> on www.twitch.tv</a>

    


    <ul class="container-fluid">
    <table >
            <tr class="row">
                <td class= "btn btn-primary btn-lg"><%= link_to "SearchGroup" , "/groups" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "CreateGroup" , "/groups/new" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "SearchTeam" , "/teams" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "CreateTeam" , "/teams/new" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "ChangeRole" , "/changerole" %></td>
            </tr>
        </table>
    </ul>


