<% provide(:title, "Arena") %>

<div class="center jumbotron">

    <h1>Arena</h1>
    <p>Homepage Arena</p>


    <ul class="container-fluid">
    <table >
            <tr class="row">
                <td class= "btn btn-primary btn-lg"><%= link_to "SearchGroup" , "/groups" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "CreateGroup" , "/groups/new" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "SearchTeam" , "/teams" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "CreateTeam" , "/teams/new" %></td>
                <td class= "btn btn-primary btn-lg"><%= link_to "ChangeRole" , "/changerole" %></td>
            </tr>
        </table>
    </ul>


