<% provide(:title, "Change Role") %>


<% if current_gamer.casual? %>
  <h3>Welcome casual: <%= current_gamer.username %></h3>
<% elsif current_gamer.pro? %>
  <h3>Welcome, pro:</h3>
<% elsif current_gamer.leader? %>
  <h3>Welcome, Leader (supremo): <%= current_gamer.username %> </h3>
<% elsif current_gamer.admin? %>
  <h3>Welcome, Admin: <%= current_gamer.username %></h3>
<% else %>
  <h3>Welcome, UNKNOWN ROLE <%= current_gamer.role.nil? %> </h3>
<% end %>

<div class= "btn btn-default btn-lg"><%= link_to "Upgrade" , "/upgrade" %></div>
<div class= "btn btn-default btn-lg"><%= link_to "Downgrade" , "/downgrade" %></div>
<br/>

<div class= "btn btn-default btn-sm"><%= link_to 'Back', arena_path %></div>

