<% provide(:title, "Home") %>

<div class="center jumbotron">

	
	
	<%if !logged_in?%>
		<h1>Welcome to the Players Arena</h1>
		<%= link_to "Sign up",signup_path, class:"btn btn-lg btn-primary" %>
		<%= link_to "Login",login_path , class:"btn btn-lg btn-primary" %>
		<%= link_to "Use Google Account",loginGoogle_path, class:"btn btn-lg btn-primary" %>
		
	<%else%>
		<h1> Hi <%= current_gamer.username%></h1></br>
		<h1>Have fun in arena!</h1>
		<%= link_to "Login with other Account",login_path , class:"btn btn-lg btn-primary" %>
		<%= link_to "Arena",arena_path , class:"btn btn-lg btn-primary" %>
	<%end%>

	
</div>



