<p id="notice"><%= notice %></p>
<% provide(:title, "Challenges") %>
<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if !@challenges.nil? %>
    <% @team.challenges.each do |challenge|  %>
      <tr>
        
        <td>
<%= "X from " + challenge.challenging_team.name %>
        <%= link_to 'Accept', team_challenge_accept_path(challenge_id: challenge.id) %></td>
        <td><%= link_to 'Refuse', team_challenge_refuse_path(challenge_id: challenge.id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>
<%= link_to 'Back', team_path(@team) %>
<br>

