<p id="notice"><%= notice %></p>

<% provide(:title, 'All gamers') %>


<h1>Gamers</h1>



<%= will_paginate %>      <!-- per paginazione   -->



<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @gamers.each do |gamer| %>
      <tr>
        <td><%= gamer.username %></td>
        <td><%= gamer.email %></td>
        <td><%= link_to 'Show', gamer %></td>
      <!--  <td><%= link_to 'Edit', edit_gamer_path(gamer) %></td>
         <td><%= link_to 'Destroy', gamer, method: :delete, data: { confirm: 'Are you sure?' } %></td>   DOBBIAMO GESTIRE LA CONDIZIONE DI ELIMINAZIONE UTENTI SE LA VOGLIAMO METTERE-->
      </tr>
    <% end %>
  </tbody>



<%= will_paginate %>





</table>




<br>

<%= link_to 'New Gamer', new_gamer_path %>
